$color-gray: gray;
$color-white: white;
$color-button-hover: rgb(30, 31, 19);
$color-header-primary-dark: #1074b8de;
$color-header-primary: #259ff0de;
$color-header-secondary: #1c55a0de;
$color-primary: #9bece5de;
//color for section
$color-grey-light-1:#f7f7f7;
$color-black: black;
$color-dark-blue: #0c0297de;
$color-section-home-feature1: #aad4f0de;
$color-section-home-feature2: #6aaedbde;
$color-heading-primary:#0720adc9;
$color-gray1:#65666a;
$color-gray4:#f6f6f6;
$color-gray5:#fafafa;


//variables for grid
//variables for grid
$grid-width:114rem;
$row-margin-vertical:8rem;
$row-margin-vertical-small:4rem;
$col-margin-horizontal:4rem;

//font sizes
$default-font-size:1.6rem;

//card color
$color-card-light1: rgb(201, 241, 241);
$color-card-dark1: rgba(41, 143, 143, 0.966);
$color-card-light2: rgb(118, 229, 223);
$color-card-dark2: rgb(121, 171, 184);
$color-card-light3:rgb(194, 228, 248); 
$color-card-dark3:rgb(127, 193, 238);   
$color-card-light4:rgb(194, 228, 248); 
$color-card-dark4:rgb(127, 193, 238); 

//mobiole menu color
$color-mobile-menu-Primary: rgb(169, 201, 245);
$color-mobile-menu-Secondary: rgb(85, 144, 199);
$color-mobile-menu-text: rgb(8, 75, 143);
$color-mobile-menu-text-2: rgb(11, 99, 187);


