.mobileMenu {
  position: relative;
 z-index: 99990;
 &__hidden {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
    &__sidebar {
      height: 100%;
      width: 35rem;
      position: fixed;
      transition: 0.5s;
      top: 0;
      left: 0;
      z-index: 900;
      background-image: linear-gradient(
        to right bottom,
        $color-mobile-menu-Primary,
        $color-mobile-menu-Secondary
      );
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      .mobileMenu__subMenu {
        position: relative;
        &__service{
          color: $color-header-secondary;
          font-weight: 800;
        }
        &__content {
          //  padding: 3rem;

          position: absolute;

          left: 18rem;
          top: 0;
          padding: 0.5rem;
          //  transform: translateX(20rem);
          display: float;
          background-color: rgba(56, 68, 107, 0.219);
          box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.322);

          &:not(:last-child) {
            border-bottom: 0.1rem solid rgb(20, 20, 32);
          }

          &:before {
            position: absolute;
            top: 1.5rem;
            left: -3.6rem;
            display: inline-block;

            background-color: rgba(56, 68, 107, 0.219);
            clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
            background-size: cover;
            padding: 1.8rem;
            content: " ";
          }
          &--link {
            text-align: left;
            padding: 1.2rem;
            font-size: 2rem;
            color: #faf5f5;
          }
        }
      }
      &__closebtn {
        top: 1.5rem;
        left: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        position: absolute;
        padding: 1.5rem;
        // min-width: 7rem;
        height: 7.5rem;
        width: 7.5rem;
        font-weight: 500;
        font-size: 3rem;
        background-color: rgba(119, 168, 241, 0.945);

        color: rgb(211, 224, 231);
          &--1{
          padding: 1rem;
            color:rgb(211, 224, 231);
            font-weight: 500;

            border: .1rem solid black;
            border-color: rgb(51, 51, 87);
          }
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.8rem;
        //text-align: left;
        font-weight: 500;
        display: block;
        padding: 1rem 0 2rem 2rem;
        color: $color-mobile-menu-text;
      }
      a.active {
        color: $color-header-secondary;
        font-weight: 800;
      }
    }
    &__header {
      height: 7vh;
      padding: 2rem;
      position: relative;
      z-index: 700;
      overflow: auto;
      background: /* gradient can be an image */ linear-gradient(
          to right bottom,
          rgba($color-header-primary-dark, 0.87),
          rgba($color-header-secondary, 0.87)
        )
        left bottom no-repeat;
      background-size: 100% 0.2rem; /* if linear-gradient, we need to resize it */
      box-shadow: 0 0.2rem 1.2rem rgba($color-black, 0.4);
     
      &--logo {
        height: 6rem;
        left: 45%;
        //-left: 35rem;
        display: inline-block;
        position: absolute;
        top:3rem;
      }
      &--openbtn {
        text-align: center;
        font-size: 3.5rem;
        cursor: pointer;
        background-color: rgba(119, 168, 241, 0.945);
        background-size: cover;
        color: white;
        font-weight: 800;
        padding: 1rem;
        width: 6rem;
        top: 2rem;
        position: absolute;
      }
    }
 // }
}
#mainMenu{
 //background-color: rgba(11, 108, 199, 0.932);
  position: fixed;
   width: 100%;
   height: 100%;
 
}
#mainMobileHeader{
  display: none;
  @include response(phone) {
    display: block;
  }
}
.showMobileBlur{
  z-index: 1;
  background-color: rgba(11, 108, 199, 0.829);
}
.hideMobileBlur{
  z-index: -1;
}
